<app-nav-bar-component></app-nav-bar-component>
<div class="page-content">
  <h2>Escolha seu Time!</h2>
  @if (dadosService.obterTimeDoTorcedorLogado) {
    @if (dadosService.obterTimeDoTorcedorLogado) {
  <div class="selection-alert">
      <span>Você está torcendo para: <strong>{{ dadosService.obterTimeDoTorcedorLogado}}</strong></span>
  </div>
  }

  }
  <div class="search-container">
    <mat-form-field appearance="outline" class="search-field">
      <mat-label>Pesquisar Time</mat-label>
      <input matInput type="text" [(ngModel)]="dadosService._termoBusca" placeholder="Brasil">
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
  </div>

  <div class="cards-grid">

    @for (time of dadosService.timesFiltrados(); track time.id) {
      <mat-card [class.active-card]="dadosService.obterTimeDoTorcedorLogado === time.name" class="time-card">

        <img class="card-avatar" [src]="'https://flagcdn.com/w320/' + (time.name.toLowerCase() === 'brasil' ? 'br' : time.name.toLowerCase().substring(0,2)) + '.png'"
        alt="{{ time.name }} Logo"
        (error)="$any($event.target).src = 'https://flagcdn.com/w320/un.png'">

        <mat-card-header>
          <mat-card-title>{{ time.name }}</mat-card-title>
        </mat-card-header>

        <mat-card-content>
          <p>Esta Seleção está atualmente na <strong>{{ time.fase }}</strong> da Copa do Mundo.</p>
          <div class="fans-info">
            <mat-icon class="fans-icon">groups</mat-icon>
            <span><strong>{{ time.quantidadeTorcedores | number }}</strong> torcedores Atualmente</span>
          </div>
        </mat-card-content>

        @if (dadosService.obterTimeDoTorcedorLogado === time.name) {
          <div class="selected-indicator">
            <mat-icon>sports_soccer</mat-icon>
            <span>Você está torcendo para esta seleção!</span>
          </div>
        }
      </mat-card>
    } @empty {
      <p class="no-results">Nenhuma seleção corresponde à sua pesquisa.</p>
    }
  </div>
</div>
<app-footer-component></app-footer-component>
