.navbar {
  position: relative;
  background-color: #0d0063;
  color: #dcdce6;
}
.mat-icon {
  color: #dcdce6;
}
.navbar-title {
  font-weight: 800;
  letter-spacing: 0.7px;
   position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
